<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js.map"></script>
    <link rel="stylesheet" href="/views/home.css">
</head>

<body class="d-flex flex-column vh-100" style="height : 100vh ; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ; background-size : cover ; background-position: center;">
  <%- include('partials/navbar') %> 
   <main>
    <h1 style="color : black; font-size : 100px; text-align : center ;padding-top: 200px">Nature</h1>
    <p style=" color : black; font-size : 30px; text-align : center">Adopt the pace of nature!!</p>
    <section>
    <p style="color : white;  margin-left: 500px; margin-right: 500PX;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolores asperiores inventore nemo explicabo, totam eum perferendis odio ipsam commodi, obcaecati laboriosam neque fuga corrupti dicta! Aliquid, quia incidunt? Vero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil dolorem architecto quibusdam alias maxime, suscipit quo blanditiis, a voluptas quas officia tenetur ratione voluptate iure!</p>
    
    <a href="/blogs" class="btn btn-warning "  style=" margin-left: 750px; padding: auto; margin-bottom: 200px; ">View Blogs</a>
   
    <!-- <button type="button" class="btn btn-warning" style=" margin-left: 750px; padding: auto; margin-bottom: 200px;">Blogs</button> -->
</section></main> 

    <%- include('partials/footer') %>

</body>
</html>